<h2>Recommendation For Travel Country</h2>
<p>Exploring new countries can be a life-changing experience, offering a blend of cultural, culinary, and historical
    experiences. Here are a few recommendations for popular travel destinations:</p>


<div *ngFor="let recommendation of recommendations let i=index " class=" recommendation">
    <h3>{{ recommendation.name }}</h3>
    <p>{{ recommendation.description }}</p>
    <button (click)="editRecommendation(i)">Edit</button>

</div>

<div class="add-recommendation-form">
    <h3>Add a New Recommendation</h3>
    <div class="formcon">
        <input type="text" [(ngModel)]="newName" placeholder="Country Name" required />
        <textarea [(ngModel)]="newDescription" placeholder="Description" required></textarea>

        <div class="button-con">
            <button (click)="addRecommendation()">Add Recommendation</button>
            <button *ngIf="editingIndex !== null" (click)="saveRecommendation()">Save Changes</button>
            <button *ngIf="editingIndex !== null" (click)="cancelEdit()">Cancel</button>
        </div>

    </div>

</div>