<div class="container">
    <div class="card">
        <img src="https://cdn.pixabay.com/photo/2020/06/17/17/02/sea-5310426_960_720.jpg"
            alt="Generic placeholder image" width="140" height="140">
        <h2>Top 10 Asia travel destinations</h2>
        <p>Asia is the largest continent in the world by both land area and population. It covers an area of more than
            44 million square kilometers, about 30% of Earth's total land area and 8% of Earth's total surface area. The
            continent,
            which has long been home to the majority of the human population,
            was the site of many of the first civilizations.</p>
        <p><a [routerLink]="['travel-asia']">View Details</a></p>
    </div>
    <div class="card">
        <img src="https://cdn.pixabay.com/photo/2021/10/28/09/59/city-6749295_960_720.jpg"
            alt="Generic placeholder image" width="140" height="140">
        <h2>Top 10 Europe travel destinations</h2>
        <p>Europe is the western part of the continent of Eurasia, often thought of as its own continent. It is
            separated from Asia by the Ural Mountains in Russia and the Bosporus strait in Turkey.
            Europe is bordered by water on three sides.
            On the west is the Atlantic Ocean. To the north is the Arctic Ocean.</p>
        <p><a [routerLink]="['travel-europe']">View Details</a></p>
    </div>
    <div class="card">
        <img src="https://cdn.pixabay.com/photo/2021/10/28/09/59/city-6749295_960_720.jpg"
            alt="Generic placeholder image" width="140" height="140">
        <h2>top 10 south america travel destinations</h2>
        <p>South America is a continent of extremes.
            It is home to the world's largest river (the Amazon) as well as the world's driest place (the Atacama
            Desert). </p>
        <p><a [routerLink]="['travel-south-america']">View Details</a></p>
    </div>
</div>
<div class="heading">
    <div>
        <h2 class="featurette-heading">Experience travel in <span class="text-muted">Thailand</span>
        </h2>
        <p class="lead">Thailand, country located in the centre of mainland Southeast Asia. Located wholly within the
            tropics, Thailand encompasses diverse ecosystems, including the hilly forested areas of the northern
            frontier, the fertile rice fields of the central plains,
            the broad plateau of the northeast, and the rugged coasts along the narrow southern peninsula.</p>
        <p><a [routerLink]="['']">Read More</a></p>
    </div>
    <div>
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
            src="https://cdn.pixabay.com/photo/2020/07/16/09/26/buddha-5410319_960_720.jpg" data-holder-rendered="true"
            style="width: 500px; height: 450px;">
    </div>
</div>